{% extends 'layout.html' %}

{% block content %}
<div class="w-2/3 mt-14">
  <h1 class="text-neutral-200 text-4xl font-poppins mb-8">{{ title }}</h1>
  <form method="POST" action="{{ handler_url }}">
        {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
      <div class="flex flex-col mb-8">
        {{ form.user_name.label(class="text-neutral-200 mb-6") }} 
        {{ form.user_name(class="rounded-3xl bg-neutral-800 border-2 border-neutral-200 text-neutral-200 focus:ring-neutral-400 focus:border-neutral-400 transition delay-150") }}
        {% if form.user_name.errors or user_name_error_message is not none %}
            <ul class="errors mt-4 text-neutral-200 text-sm">
                {% if user_name_error_message is not none %}
                    <li >
                        {{ user_name_error_message }}
                    </li>
                {% endif %}
                {% for error in form.user_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <div class="flex flex-col mb-8">
        {{ form.password.label(class="text-neutral-200 mb-6") }} 
        {{ form.password(class="rounded-3xl bg-neutral-800 border-2 border-neutral-200 text-neutral-200 focus:ring-neutral-400 focus:border-neutral-400 transition delay-150") }}
        {% if form.password.errors or password_error_message is not none %}
            <ul class="errors mt-4 text-neutral-200 text-sm">
                {% if password_error_message is not none %}
                    <li>
                        {{ password_error_message }}
                    </li>
                {% endif %}
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      {{ form.submit(class="w-full cursor-pointer text-neutral-800 bg-neutral-200 rounded-3xl h-10 mb-6 hover:bg-neutral-300 transition delay-150") }}
      {% if title == "Register" %}
        <a href="{{ url_for('authentication_bp.login') }}" class="text-neutral-200 text-sm">Already have an account ? <span class="underline">Login</span></a>
      {% else %}
        <a href="{{ url_for('authentication_bp.register') }}" class="text-neutral-200 text-sm">Don't have an account ? <span class="underline">Register</span></a>
      {% endif %}
  </form>
</div>
{% endblock %}